{% extends "layout.html" %}
{% block title %}Battery{% endblock %}
{% block content %}
  <div class="battery">
    <h1>It depends!</h1>
    <p>Some batteries are a part of a larger product stewardship program.
       To find out what type of battery you have and how it can be recycled,
        click <a href="https://www.call2recycle.org/what-can-i-recycle/">here.</a></p>
    <p>Rechargeable Batteries: Call2Recycle offers free battery recycling for
       the following batteries found in: cordless phone, power tools,
        laptop computers, and other portable electronics. Lithium and metal
         hydride batteries are also accepted. Find a location <a href="https://www.call2recycle.org/">here.</a></p>
         <img src =https://as1.ftcdn.net/jpg/02/98/95/32/500_F_298953272_hVoCuyusKtd6rKK59w1HKTiostTvQoWx.jpg>
        <img src =https://as2.ftcdn.net/jpg/02/16/50/55/500_F_216505510_Rhjfc5tt1rcDcE76cS4zwSmmJ1zcBIVS.jpg>
  </div>
{% endblock %}
