{% extends "layout.html" %}
{% block title %}Cans{% endblock %}
{% block content %}
  <div class="cans">
    <h1>Yes, that's recyclable!</h1>
    <h2>We've determined that your object is a can. Cans are usually recyclable!</h2>
    <ul>
    <p>The paper attached to most canned goods does not need to be removed when recycling! </p>
    <p>If there is a plastic cap attached to your can, remove it before recycling!</p>
    <img src='https://www.houseofcans.com/images/categories/OPENTOP%20GRP.JPG'>
    <img src='https://www.manassascity.org/ImageRepository/Document?documentID=31216'>
	</ul>
  </div>
{% endblock %}
