{% extends "layout.html" %}
{% block title %}Information{% endblock %}
{% block content %}
  <div class="home">
    <h1>About Is That Recyclable?</h1>
    <h2>A project by Angelina Han, Kyle James Floersch, and Theo
       Jolly for the 2020 Hack the Earth Hackathon!</h2>
     <p>With Wendell Berry's famous quote "The Earth is what we all have in
       common." becoming an increasingly popular mindset throughout the world,
       a challenge that many people struggle with is a lack of information about
       how to help keep our Earth healthy. Is That Recyclable? is a website that
       uses AI Commons' image recognition technology to recognize the object in
       user submitted pictures and provide information about how to dispose of
       it. We want to help others help the Earth.</p>
  </div>
  <img src=https://images-na.ssl-images-amazon.com/images/I/51VJcpQwhEL._AC_SX425_.jpg>
{% endblock %}
