{% extends "layout.html" %}
{% block content %}
  <div class="paper">
    <h1>Yes, it's recyclable!</h1>
    <h2>We've determined that your object is paper. Paper is usually recyclable!</h2>
    <p>Paper mills that process recycled paper are equipped to remove contaminants such as staples and paper clips from pulped paper, so you do not have to remove those items before recycling your paper! However, paper clips can be removed and reused!</p>
    <p>Paper mills that accept mixed paper can also recycle sticky notes; however, it's best to check with your local recycling facilities to see what they accept!</p>
    <p>Shredded paper is sometimes recyclable, depending on the rules of your municipality. Often, shredded paper must be bagged before placed curbside for recycling, to prevent the small slips from blowing away. Be sure to check local rules before recycling shredded paper to avoid potential contamination! Another good way to recycle shredded paper is to put it in your compost pile, as the fibers are already mostly broken down!</p>
    <p>Paper can be recycled 5-7 times before the fibers become too short to bond, and new fibers must be added.</p>
    <br>
    <img src='https://images.pexels.com/photos/167538/pexels-photo-167538.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'>
    <img src='https://images.pexels.com/photos/963048/pexels-photo-963048.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'>
  </div>
{% endblock %}