{% extends "layout.html" %}
{% block title %}Pizza Box{% endblock %}
{% block content %}
  <div class="pizza_box">
    <h1>It depends!</h1>
    <p>Is your pizza box clean? All clean cardboard, paperboard (cereal box),
      and paper can be recycled. If it is wax or foil coated, it cannot. If
      paper is shredded, please place in a clear plastic bag in your recycling
      bin, following local recycling instructions.</p>
    <p>Greasy and nonempty pizza boxes should be thrown in the trash. Grease prevents fibers from binding together properly during the recycling process, so greasy pizza boxes can contaminate whole batches of recycled pulp.</p>
    <br>
    <img src='https://images.pexels.com/photos/280453/pexels-photo-280453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'>
    <img src='https://images.pexels.com/photos/479450/pexels-photo-479450.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500'>
  </div>
{% endblock %}
