{% extends "layout.html" %}
{% block title %}Plastic Bag{% endblock %}
{% block content %}
  <div class="plastic_bag">
    <h1>Yes, it is recylable!</h1>
    <p>. Plastic film can be collected and recycled at your local supermarket!
      Learn more about how and where to recycle plastic <a href="https://www.plasticfilmrecycling.org/">here.</a></p>

      <img src=https://images.pexels.com/photos/1549528/pexels-photo-1549528.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260 width="450" height="350">
      <img src= https://www.cleveland19.com/resizer/GKrO47ayz4xKJTMtzt8Vy0Uq88Q=/1200x600/arc-anglerfish-arc2-prod-raycom.s3.amazonaws.com/public/GKHKODHHP5B35JWDG4HML3M5WI.png  width="450" height="350">
  </div>
{% endblock %}
