{% extends "layout.html" %}
{% block title %}Resources{% endblock %}
{% block content %}
  <div class="home">
    <h1>Recycling Resources</h1>
    <p>It can be hard to figure out what is recyclable, and we hope our website is a good start, but there are lots of additional resources online. Here are a few that we've found useful:</p>
    <br>
    <p>ecomaine has a comprehensive search tool that tells you what items are recyclable: <a href='https://www.ecomaine.org/recyclopedia/'>https://www.ecomaine.org/recyclopedia/</a></p>
    <p>berecycled.org offers recycling instructions by category: <a href='https://berecycled.org/how-to-recycle/'>https://berecycled.org/how-to-recycle/</a></p>
    <p>Be sure to check with your local recycling guidelines, as municipalities have different rules depending on what their facilities can process.</p>
    <br>
    <img id="index-image" src='https://images.pexels.com/photos/2422/sky-earth-galaxy-universe.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'>
  </div>
{% endblock %}