{% extends "layout.html" %}
{% block title %}Styrofoam{% endblock %}
{% block content %}
  <div class="styrofoam">
    <h1>No, that's not recyclable :(</h1>
    <p>We've determined that your object is styrofoam. Throw it away! Styrofoam
       is not recyclable, and as a very light-weight foam product, it is not
       economically feasible to transport enough ultra-light foam product to
       make up for the transportation costs to the foam recycling facilities
       (the closest one is in New Jersey). The best way to reduce Styrofoam is
       to not buy it in the first place helping to reduce the overall
       consumption. </p>
    <img src=https://cdn.shopify.com/s/files/1/0878/9728/products/APP_7067_1024x1024.jpg?v=1587012642 height="350" width="450">
    <img src=https://images-na.ssl-images-amazon.com/images/I/719y%2B8SryqL._AC_SX466_.jpg height="350" width="450">
  </div>
{% endblock %}
